.contentGeral{
    background-color: var(--purpleGlobal);
    margin: 8px 0;
    width: 320px;
    height: 70px;
    border-radius: 10px;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contentPhotoUser{
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentUserInfo{
    width: 230px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 80%;
    margin-left: 8px;
}

.contentInfo{
    height: 33.3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: -2px 0;
    font-family: 'Poppins', sans-serif;
}

.contentFollowUser{
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    cursor: pointer;
    transition: 0.5s;
}

.contentFollowUser:hover{
    color: var(--purple);
}

@media (min-width: 900px){
    .contentGeral{
        width: 420px;
        height: 100px;
    }

    .contentInfo{
        margin: -4px 0;
    }
}