.contentGeral{
    color: #fff;
}

.contentTitle{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    margin-top: 20px;
}

.contentTitle p{
    margin-left: 20px;
}