.contentTitle{
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.contentTechs{
    width: 100vw;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.techBox{
    margin: 0px 15px;
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #272733;
}