@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap';
/* I've created variables for the colors */
:root{
  --purple: #3936EB;
  --white: #fff;
  --darkwhite: rgb(167, 167, 167);
  --grey: #1a1a22;
  --lightgrey: #565672;
  --purpleGlobal: #272733;
}

html,
body {
  background-color: var(--grey);
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar-track {
  background-color: #45455c;
}
body::-webkit-scrollbar {
  width: 3px;
  background: #45455c;
}
body::-webkit-scrollbar-thumb {
  background: #23232e;
}

/* *{
  border: 1px solid red;
} */
