.contentTitle{
  color: #fff;
  margin-top: 25px;
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contentIcon{
  font-size: 70px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -90px;
}