.contentTitle{
  color: #fff;
  margin: 25px 0;
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contentIcon{
  font-size: 70px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -90px;
}

.contentBoxes{
  height: 75vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}