.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.mainBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titleBody{
    color: var(--white);
}

.plansDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

@media (min-width: 1366px) {
    .background{
        background-image: url('../../public/backgroundGalaxy.svg');
        background-size: 100%;
    }

    .mainBody{
        background-color: var(--grey);
        width: 90%;
        height: 90%;
        border-radius: 20px;
        margin-top: 40px;
    }

    .plansDiv{
        flex-direction: row;
    }
}

@media (min-width: 1600px) {
    .mainBody{
        margin-top: 80px;
        width: 80%;
        height: 80%;
    }
}

@media (min-width: 1920px) {
    .mainBody{
        width: 60%;
    }
}