.contentImageBackGround{
    width: 100%;
    height: 10vh;
    background-image: url('../../public/backgroundProfileMobile.svg');
    background-repeat:  repeat;
}   

.contentImageUser{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.imageUser{
    margin: -10px 0px 0px 30px;
}

.contentUserInfo{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.contentUserInfo h2, .contentUserInfo p{
    margin-left: 10px;
}

.contentUserInfo h2{
    margin-bottom: -20px;
}

.contentUserDescription{
    width: 100%;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentDescBox{
    padding: 4px;
    width: 90%;
    min-height: 90%;
    border-radius: 10px;
    background-color: #272733;
    color: rgb(192, 192, 192);
}

.contentBarOptions{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    color: #fff;
}

.contentBarOptions p{
    background-color: #272733;
    padding: 10px;
    border-radius: 5px;
}

.contentOptionSelected{
    margin-top: 15px;
    width: 100%;
    min-height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
}