.contentGeral {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.contentPhrase {
	display: none;
}

.contentImageRocket {
	display: none;
}

.formsContent {
	color: #fff;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.formsContent input {
	width: 250px;
	height: 30px;
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 5px 0px;
	background-color: var(--lightgrey);
	color: var(--white);
	font-family: 'Poppins', sans-serif;
}

.formsContent select {
	width: 250px;
	height: 30px;
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 5px 0px;
	background-color: var(--lightgrey);
	color: var(--white);
	font-family: 'Poppins', sans-serif;
}

.formsContent input::placeholder {
	color: var(--darkwhite);
}

.formsContent textarea {
	height: 70px;
	width: 250px;
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 5px 0px;
	background-color: var(--lightgrey);
	color: var(--white);
	resize: none;
	font-family: 'Poppins', sans-serif;
}

.formsContent textarea::placeholder {
	color: var(--darkwhite);
}

.checkBoxSend {
	width: 100%;
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 80%;
}

.checkBoxSend input {
	width: 20%;
	height: 20%;
}

.formsContent button {
	height: 45px;
	width: 90px;
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 5px 0px;
	background-color: var(--purple);
	color: var(--white);
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
}

.errorBox {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-weight: 600;
	background-color: #ec3333;
}

@media (min-width: 750px) {
	.contentPhrase {
		height: 40vh;
		width: 100%;
		background-image: url('../../public/backgroundGalaxy.svg');
		background-repeat: repeat;
		background-size: 100%;
		color: var(--white);
		display: flex;
		align-items: center;
		font-size: 48px;
	}

	.contentPhrase p {
		margin-left: 30px;
	}
}

@media (min-width: 1200px) {
	.contentRegister {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: row;
	}

	.contentImageRocket {
		display: flex;
	}

	.formsContent {
		width: 40%;
		background-color: var(--purpleGlobal);
		border: 4px solid var(--grey);
		border-radius: 20px;
		z-index: 999;
		/* margin: -250px 20px 20px 20px */
		margin: -90px 20px 20px 20px;
	}

	.formsContent input[type='text'] {
		width: 70%;
	}

	.formsContent select {
		width: 70%;
	}

	.formsContent textarea {
		width: 70%;
	}
}

@media (min-width: 1500px) {
	.formsContent {
		width: 45%;
	}

	.formsContent input[type='text'] {
		height: 40px;
	}

	.formsContent select {
		height: 40px;
	}

	.checkBoxSend {
		font-size: 20px;
	}

	.checkBoxSend p {
		margin-left: -70px;
	}

	.checkBoxSend input {
		width: 30%;
		height: 30%;
	}
}

@media (min-width: 1700px) {
	.formsContent {
		width: 40%;
		margin: -200px 20px 20px 20px;
	}

	.formsContent p {
		font-size: 120%;
	}

	.checkBoxSend {
		font-size: 20px;
	}

	.checkBoxSend p {
		margin-left: -90px;
		font-size: 90%;
	}

	.checkBoxSend input {
		width: 30%;
		height: 30%;
	}
}
