.contentGeral{
    background-color: var(--purpleGlobal);
    height: 50vh;
    width: 100%;
}

.contentTitle{
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.contentPosts{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: scroll;
}

.boxPost{
    width: 70%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3d3d50;
    border-radius: 10px;
}

.contentNameandPost{
    width: 140px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden ;
    text-overflow: ellipsis;
}

@media (min-width: 750px){
    .contentGeral{
        background-color: var(--purpleGlobal);
        border-radius: 10px;
        margin-right: 40px;
        height: 310px;
        width: 22vw;
    }

    .contentTitle{
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contentTitle p{
        font-size: 20px;
    }

    .contentPosts{
        height: 85%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;

    }

    .boxPost{
        width: 70%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .contentNameandPost h4{
        margin-top: -10px;
    }
}



