.contentGeral{
    width: 40vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-color: #272733;
    color: rgb(192, 192, 192);
}

.contentBoxSocialMedia{
    width: 40vw;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    transition: 0.5s;
}

.contentBoxSocialMedia:hover{
    color: var(--purple);
}

.contentBoxSocialMedia p{
    margin-left: 5px;
    cursor: pointer;
}

@media (min-width: 750px){
    .contentGeral{
        width: 200px;
        height: 150px;
    }

    .contentBoxSocialMedia{
        width: 100%;
    }
}

@media (min-width: 1200px){
    .contentGeral{
        width: 250px;
        height: 250px;
    }
}