.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--purpleGlobal);
    margin-bottom: 50px;
    border-radius: 20px;
}

.titlePlan{
    text-align: center;
}

.titlePlan h2{
    color: var(--purple);
}

.titlePlan p{
    color: var(--white);
}

.contentPlan{
    width: 90%;
    margin-bottom: 10px;
}

.contentPlan h3{
    color: var(--white);
}

.benefitsDiv{
    width: 100%;
    background-color: var(--lightgrey);
    border-radius: 10px;
    padding: 5px 0 5px 0;
}

.benefitsDiv p{
    color: var(--white);
    padding-left: 10px;
}

.buttonDiv{
    margin: 10px 0 20px 0;
}

.buttonDiv button{
    border: none;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--purple);
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    width: 90px;
    height: 50px;
    font-family: 'Poppins';
    cursor: pointer;
}

@media (min-width: 1366px) {
    .plan{
        margin: 0 10px 0 10px;
    }
}

@media (min-width: 1600px) {
    .plan{
        margin: 50px 30px 0 30px;
    }
}