.contentGeral{
    background-color: #272733;
    height: 90px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contentImageUser{
    height: 100%;
    width: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentFormPost{
/*     height: 60%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentFormPost input[type="text"]{
    font-family: 'Poppins', sans-serif;
}

.contentFormPost input::placeholder{
    color: var(--white);
}

.contentFormPost input[type="text"]{
    height: 5vh;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-right: 4px;
    background-color: #565672;
    color: var(--white);
    width: 160px;
    margin-right: 10px;
}

.contentFormPost button{
    width: 50px;
    height: 5vh;
    background-color: #565672;
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (min-width: 750px){
    .contentGeral{
        width: 100%;
        justify-content: center;
    }
    
    .contentImageUser{
        margin-left: 30px;
    }

    .contentFormPost{
        width: 90%;
    }

    .contentFormPost form{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 0 0 0 5px;
    }

    .contentFormPost input[type="text"]{
        height: 5vh;
        width: 80%;
        outline: none;
        border: none;
        border-radius: 10px;
        margin-right: 4px;
        background-color: var();
        color: var(--white);
    }

    .contentFormPost button{
        height: 5vh;
        transition: 0.5s;
    }

    .contentFormPost button:hover{
        background-color: var(--purple);
    }
}