@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.contentGeral{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.contentImageLoading{
	animation: bounce 1s infinite;
}

.contentLoadingImage{
	height: 40px;
	width: 40px;
	margin-left: 10px;
	animation: spin 3s linear infinite;
}
